body {
  margin: 0;
  overflow: hidden;
  background-color: #111;
  font-family: monospace;
}

#app {
  width: 100vw;
  height: 100vh;
}

.ui-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 16px;
  text-shadow: 1px 1px 0 #000;
  pointer-events: none;
}